/* Styles go here */

#content {
  margin-bottom: 4em;
}

.ui.dividing.header {
  margin-top: 1em;
  margin-bottom: 2em;
}

i.icon {
  margin: 0;
}

form {
    width: 400px;
}

label, input {
    display: inline-block;
    width: 200px;
}

label {
    color: #d64161;
    font-size: 20px;
}